.background {
    background: #7E57C2;
    min-height: 1100px;
}
.alert1 {
position: absolute;
width: 50%;
top: 0;
left: 25%;
background: white;
z-index: 9999999;
text-align: center;
}
.alert2 {
position: absolute;
width: 400px;
top: 50px;
right: 0;
background: orange;
z-index: 9999999;
text-align: center;
height: 500px;	
}
.close_alert {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close_alert:hover,
.close_alert:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
.login.button {
margin: 30px auto;
border-width: 0;
outline: none;
border-radius: 2px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

background-color: #2ecc71;
color: #ecf0f1;

transition: background-color .3s;
}
.login.button.facebook {
background: #e74c3c;
}
.login.button.twitter {
background: blue;
}
.site {
	background-color: 
}
/*---------------Alert Banner----------------*/

#alertbanner {
    position: relative;
    z-index: 1;
}
#alertbanner:hover:after {
    background: hsla(0,0%,0%,.8);
    border-radius: 3px;
    color: #f6f6f6;
    content: 'Pulse para ocultar';
    font: bold 12px/30px sans-serif;
    height: 30px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 120px;
}
#alertbanner:hover:before {
    border-bottom: 10px solid hsla(0,0%,0%,.8);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 40px;
    width: 0;
}
#alertbanner:target {
    display: none;
}
.alertbanner {
    background-color: #0c325a;
    background-image: -webkit-linear-gradient(135deg, transparent,
        transparent 25%, hsla(0,0%,0%,.05) 25%,
        hsla(0,0%,0%,.05) 50%, transparent 50%,
        transparent 75%, hsla(0,0%,0%,.05) 75%,
        hsla(0,0%,0%,.05));
    background-image: -moz-linear-gradient(135deg, transparent,
        transparent 25%, hsla(0,0%,0%,.1) 25%,
        hsla(0,0%,0%,.1) 50%, transparent 50%,
        transparent 75%, hsla(0,0%,0%,.1) 75%,
        hsla(0,0%,0%,.1));
    background-image: -ms-linear-gradient(135deg, transparent,
        transparent 25%, hsla(0,0%,0%,.1) 25%,
        hsla(0,0%,0%,.1) 50%, transparent 50%,
        transparent 75%, hsla(0,0%,0%,.1) 75%,
        hsla(0,0%,0%,.1));
    background-image: -o-linear-gradient(135deg, transparent,
        transparent 25%, hsla(0,0%,0%,.1) 25%,
        hsla(0,0%,0%,.1) 50%, transparent 50%,
        transparent 75%, hsla(0,0%,0%,.1) 75%,
        hsla(0,0%,0%,.1));
    background-image: linear-gradient(135deg, transparent,
        transparent 25%, hsla(0,0%,0%,.1) 25%,
        hsla(0,0%,0%,.1) 50%, transparent 50%,
        transparent 75%, hsla(0,0%,0%,.1) 75%,
        hsla(0,0%,0%,.1));
    background-size: 20px 20px;
    box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
    color: #f6f6f6;
    display: block;
    font: bold 16px/40px sans-serif;
    height: 40px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -45px;
    width: 100%;
    -webkit-animation: alertbanner 1s ease forwards;
    -moz-animation: alertbanner 1s ease forwards;
    -ms-animation: alertbanner 1s ease forwards;
    -o-animation: alertbanner 1s ease forwards;
    animation: alertbanner 1s ease forwards;
}

.alertbannerErr{
    background-color: #a50000;
}
/* Animation */

@-webkit-keyframes alertbanner {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-moz-keyframes alertbanner {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-ms-keyframes alertbanner {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-o-keyframes alertbanner {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@keyframes alertbanner {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}

.sticky.ng-scope {
    width: 100%;
}
