.events .of{
    border:solid 1px rgba(144, 144, 144, 0.25);
    border-radius: 5px;

    width: 100%;
    text-align: center;
    background-color: #fff;
    margin-top: 4px;
}
.events .of:first-child{
    margin-top:0;
}
.events .of:hover{
    border:solid 1px rgba(144, 144, 144, 1);

    -webkit-box-shadow: 4px 4px 5px 0px rgba(144, 144, 144, 0.5);
    -moz-box-shadow:    4px 4px 5px 0px rgba(144, 144, 144, 0.5);
    box-shadow:         4px 4px 5px 0px rgba(144, 144, 144, 0.5);
}
.events .of:hover .desc{
    text-decoration: underline;
    font-style: italic;

}
.filtre {
    width: 600px;
    height: 50px;
    text-align: center;
    margin: 0 35%;
}
.error_message {
    color: red;
    font-size: 18px;
}
.c_label  {
    color:white;
    font-size: 18px;
}