<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo UTILS_CONTACT ?>css/contact.css">
<script type="text/javascript" src="<?php echo UTILS_CONTACT ?>function_contact.js"></script>
<script type="text/javascript" src="<?php echo CONTACT_JS_PATH ?>controller_contact.js"></script>
<div class="contact_container">
	<div class="contact_form">
		Mail : <input id="email_contact" type="text">
		<span id="e_email" class="error_message"></span>
		</br>
		Subject : 
		<select id="subject_contact">
			<option>Something</option>
			<option>Other</option>
		</select>
		<span id="e_subject" class="error_message"></span>
		</br>
		Message : <input id="message_contact" type="text">
		<span id="e_message" class="error_message"></span>
		</br>
		<input id="contact_send" type="submit" value="SEND">
	</div>
</div>