<div class="modal-header" ng-controller="menuCtrl">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()" data-dismiss="modal">&times;</button>
    <div class="of"  ng-repeat="of in usernames">
        <div ng-click="addComponent(of)">
            <img ng-if="of.avatar" src="{{of.avatar}}" style="width: 45px;">
            <img ng-if="!of.avatar" src="backend/media/default-avatar.png" style="width: 45px;">
            <p>{{of.name}}</p>
        </div>
    </div>
</div> 