<link rel  ="stylesheet" href="frontend/modules/events/view/css/events.css" type="text/css"/>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-date/dist/date.js"></script>
<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>
<div class="events_container">
	<div class="events_form">
   	 	<form name="events_form" id="events_form">

   	 		<span class="input input--chisato">
	          	<label class="c_label" for="recommended">Event Name :</label>
		        <input required ng-model="events.inputName" type="text" id="inputName" name="inputName" placeholder="Event Name" class="input__field input__field--chisato" dir="auto" maxlength="100">
		        <span class="error_message" ng-show="events_form.inputName.$dirty || events_form.inputName.$touched">
		        	<span class="error_message" ng-show="events_form.inputName.$error.required"> The name is required</span> 
		        	<span class="error_message" ng-show="!validatename()"> The name is taked</span> 
		    	</span>
		    </span>
		</br>
	        <span>
	          <label class="c_label" for="recommended">Target :</label>
	          <input ng-model="events.inputTarget" type="radio" name="recommended" id="recommended" value="+12" ng-required="events.inputTarget"/> +12
	          <input ng-model="events.inputTarget" type="radio" name="recommended" id="recommended" value="+16" /> +16
	          <input checked ng-model="events.inputTarget" type="radio" name="recommended" id="recommended" value="+18" /> +18
	        </span>
        </br>      	
	        <span class="input input--chisato">
	          	<label class="c_label" for="recommended">Events Value :</label>
		        <input required ng-model="events.inputValue" type="number" id="inputValue" name="inputValue" placeholder="Value of Event" class="input__field input__field--chisato" dir="auto" maxlength="100">
		        <span class="error_message" ng-show="events_form.inputValue.$dirty || events_form.inputValue.$touched">
		        	<span class="error_message" ng-show="events_form.inputValue.$error.required">The value is required</span>
		        	<span class="error_message" ng-show="validatenumber(events.inputValue) && !events_form.inputValue.$error.required">Number Only</span>
		        </span>
		    </span>
	    </br>
		    <span class="input input--chisato">
	          <label class="c_label" for="recommended">Ticket Value :</label>
		        <input required ng-model="events.inputTicket" type="number" id="inputTicket" name="inputTicket" placeholder="Ticket Price" class="input__field input__field--chisato" dir="auto" maxlength="100">
		        <span class="error_message" ng-show="events_form.inputTicket.$dirty || events_form.inputTicket.$touched">
		        	<span class="error_message" ng-show="events_form.inputTicket.$error.required">The Ticket is required</span>
		        	<span class="error_message" ng-show="validatenumber(events.inputTicket) && !events_form.inputTicket.$error.required">Number Only</span>
		        </span>  
		    </span>
		</br>
		    <span class="input input--chisato">
	          	<label class="c_label" for="recommended">Date :</label>
		        <md-datepicker ng-change="format()" ng-model="events.inputDate" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate" name="inputDate"></md-datepicker>
		        <span class="error_message" ng-show="events_form.inputDate.$error.required && (events_form.inputDate.$dirty || events_form.inputDate.$touched)">The Date is required</span> 
		    </span>
		</br>
	      	<span class="input input--chisato">
              	<h4>Location :</h4>

              	<label class="c_label" class="pefil">Pais:</label>
	              <p>
	                  <select name="pais" class="form-control" ng-model="events.pais" ng-options="item.sName for item in paises" placeholder="Pais" id="pais" ng-change="resetPais()">
	                      <option value="">Seleccione un pais</option>
	                  </select>
	                  <span class="text-danger" ng-show="AlertMessage" ng-model="events.pais_error">{{events.pais_error}}</span>
	              </p>
		    </br>
			    <label class="c_label" class="pefil">Provincia:</label>
	              <p>
	                  <select name="provincia" class="form-control" id="provincia"  ng-options="item.nombre for item in provincias"
	                  ng-model="events.provincia" placeholder="Provincia" ng-change="resetValues()" ng-disabled="events.pais.sISOCode!='ES'">
	                      <option value="">Seleccione una provincia</option>
	                  </select>
	                  <span class="text-danger" ng-show="AlertMessage" ng-model="events.prov_error">{{events.prov_error}}</span>
	              </p>
		    </br>
			    <label class="c_label" class="pefil">Poblacion:</label>
	              <p>
	                  <select type="text" class="form-control" name="poblacion" ng-model="events.poblacion"
	                  ng-options="item.poblacion for item in poblaciones "placeholder="Poblacion" id="poblacion" ng-disabled="events.pais.sISOCode!='ES'">
	                      <option value="">Seleccione una ciudad</option>
	                  </select>
	                  <span class="text-danger" ng-show="AlertMessage" ng-model="events.pob_error">{{events.pob_error}}</span>
	              </p>

	        </span>
	        
            <button id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button><br>

            <input type="button" ng-click="addComp()" value="Añadir Componente"/><br>
            <div ng-if="components" ng-repeat="of in components">
	            <img ng-if="of.avatar" src="{{avatar}}}" style="width: 45px;">
	            <img ng-if="!of.avatar" src="backend/media/default-avatar.png" style="width: 45px;">
            	<p>{{of.name}}</p>
            	<select>
            		<option>Musico</option>
            		<option>Cantante</option>
            		<option>Otro</option>
            	</select>
            	<ng-md-icon icon="close" size="42" ng-click="delComp(of.id)"/>
            	<hr>
            </div>
            <input class="btn btn-primary" type="submit" name="submit" id="submitBtn" value="Send"
               ng-show="events_form.inputName.$valid && validatename() && events_form.inputValue.$valid && events_form.inputTicket.$valid && events_form.inputDate.$valid"
               ng-click="createEvent()"/>
	    </form>
   	 		<h3>{{message}}</h3>
	</div>
</div>