<link rel  ="stylesheet" href="frontend/modules/events/view/css/events.css" type="text/css"/>
<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>
<br/>
<div id="contenido" class="row">
    <br>
    <div class="container">
        <div class="title"><h2>{{event.nombre}}</h2></div>
        <div class="control-group">
            Propietario : {{event.propietario}}
        </div>
        <hr>
        <div class="control-group">
            <h2>Dirigido a : {{event.dirigido_a}}<h2>
        </div>
        <hr>
        <div class="control-group">
            Fecha: {{event.fecha}}
        </div>
    	<hr>
        <div class="control-group">
            Pais: {{event.country}}</h4>
        </div>
        <div class="control-group">
            Provincia : {{event.province}}</h3>
        </div>
        <hr>
        <div class="control-group">
            <h4>Price: {{event.presupuesto}}</h4>
        </div>
        <div class="control-group">
            <h4>Ticket Price: {{event.ticket_price}}€</h4>
        </div>
        <hr>
        <br>
        <div class="control-group">
          <div class="listImage" align="left"><img src="{{event.img_event}}" height="250" width="350"/></div>
        </div>
        <br>
        <div id='ubicacion'></div>
        <!-- Se escribe un mapa con la localizacion anterior-->
        <div id="demo">{{demo}}</div>
        <div id="mapholder" align="center">{{error.nomap}}</div>
        <br>
    </div>
</div>
