<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<link rel  ="stylesheet" href="frontend/modules/events/view/css/events.css" type="text/css"/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<div class="events">
    <input type="text" class="filtre" ng-model="filtro" placeholder=" Search events: ">
    <div class="of"  ng-repeat="of in filterData = (event | filter : {nombre: filtro}) | limitTo:3:3*(page-1)" id="{{of.id}}" ng-model="este">
        <div ng-click="select(of.id)">
            <div class="listImage" align="left"><img src="{{of.img_event}}" height="75" width="100" align="left" style="padding: 1em;" /></div>
            <br>
            <div class="name">{{of.nombre}}</div>
            <div class="presupuesto">Type: {{of.presupuesto}}</div>
            <div class="ticket_price"> Date: {{of.ticket_price}}</div>
            <div class="propietario"> Place: {{of.propietario}}</div>
            <div class="details" ><a href='#/events/{{of.id_event}}'>Ver más</a></div>
            <hr>
            Rate:
            <select ng-model="rating" ng-change="rate()">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <p ng-if="of.x">Media : {{of.x}}    {{of.y}} Opiniones</p>
        </div>
    </div>
    <div>
        <uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=3></uib-pagination>
    </div>
</div>
