<link rel  ="stylesheet" href="frontend/modules/contact/view/css/contact.css" type="text/css"/>
<div class="contact_container">
	<div class="contact_form">
		<h1>Contactanos para cualquier problema:</h1>
		<h4>Disponibilidad todos los dias de la semana</h4>
		<form id="contact_form" name="contact_form" class="form-contact">
	      	<span class="input input--chisato">
		        <input class="Input-text" required ng-model="contact.inputName" type="text" id="inputName" name="inputName" placeholder="Your Email or account name" class="input__field input__field--chisato" dir="auto" maxlength="100">
		        <span class="error_message" ng-show="contact_form.inputName.$error.required && (contact_form.inputName.$dirty || contact_form.inputName.$touched)">This field is required</span>  
		    </span>
			<br>
			<span class="input input--chisato">
		        <input class="Input-text" required ng-model="contact.inputSubject" type="text" id="inputSubject" name="inputSubject" placeholder="Subject" class="input__field input__field--chisato" dir="auto" maxlength="100">
		        <span class="error_message" ng-show="contact_form.inputSubject.$error.required && (contact_form.inputSubject.$dirty || contact_form.inputSubject.$touched)">The subject is required</span>  
		    </span>
			<br>
			<span class="input input--chisato">
		        <input class="Input-text" required ng-model="contact.inputMessage" type="text" id="inputMessage" name="inputMessage" placeholder="Message" class="input__field input__field--chisato" dir="auto" maxlength="200">
	   		    <span class="error_message" ng-show="contact_form.inputMessage.$error.required && (contact_form.inputMessage.$dirty || contact_form.inputMessage.$touched)">The message is required</span>  
	        </span>
	        <br>
	        <input class="btn btn-primary" type="submit" name="submit" id="submitBtn" value="Send"
               ng-show="contact_form.inputName.$valid && contact_form.inputSubject.$valid && contact_form.inputMessage.$valid && contact_form.inputMessage.$valid"
               ng-click="SubmitContact()"/>
   	 	</form>
   	 	<h3>{{message}}</h3>
	</div>
</div>