<link rel="stylesheet" type="text/css" href="frontend/modules/homepage/view/css/homepage.css">
<div class="search_box">
    <div class="homepage div1">
        <md-switch class="homepage switch_button" ng-model="Tview.view" aria-label="Switch 1" ng-change="Cview(Tview.view)">Switch to Scroll View</md-switch>
        <form class="homepage form" ng-submit="submit()" ng-cloak="">
            <md-radio-group ng-model="data.group3" ng-change="changecity()">
              <md-radio-button ng-value="" aria-label="Default" style="color:white;">No Filter</md-radio-button>
              <md-radio-button ng-repeat="it in cityData" ng-value="it.value" aria-label="{{it.title}}">
                  <img style="height:100px" id="imagechoose" src="{{it.id}}">
              </md-radio-button>
            </md-radio-group>
        </form>
        <div class="sticky" ng-include="view"></div>
    </div>
</div>
<section id="event">
    <div id="details_event" hidden>
        <div id="details">
            <div id="img_event" class="prodImg"></div></br>
            <div id="container">
                <div id="name_event"></div></br>
                <div id="fecha_event"></div></br>
            </div>
        </div>
    </div>
</section>