<div class="homepage NV">
<input type="text" class="filtre" ng-model="filtro" placeholder=" Search events: ">
    <p>{{data.city}}</p>
    <div class="of"  ng-repeat="of in filterData = (event | filter : {nombre: filtro , province: data.group3}) | limitTo:3:3*(page-1)" id="{{of.id}}" ng-model="este">
        <div ng-click="select(of.id)" class="homepage div2">
            <div class="homepage listImage" align="left"><img src="{{of.img_event}}" height="75" width="100" align="left" style="padding: 1em;" /></div>
            <br>
            <div class="homepage NV data">
                <p> Nombre : {{of.nombre}}</p>
                <p> Presupuesto: {{of.presupuesto}}</p>
                <p> Precio Ticket: {{of.ticket_price}}</p>
                <p> Propietario: {{of.propietario}}</p>
            </div>
            <div class="details" ><a href='#/events/{{of.id_event}}'>Ver más</a></div>
            <ng-md-icon icon="done" size="42" ng-click="like()" class="like_button"/>
            <hr>
        </div>
    </div>
    <div class="pagination NV">
        <uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=3></uib-pagination>
    </div>
</div>