<div class="homepage SV">
	<div style="height:50px"></div>
	<div whenScrolled='more()' class="homepage SV">
		<div class="of" data-ng-repeat="of in items | filter:{nombre: filtro , province: data.group3}" id="{{of.id}}" ng-model="este">
		    <div class="homepage div2" ng-click="select(of.id)">
		        <div class="homepage listImage" align="left"><img src="{{of.img_event}}" height="75" width="100" align="left" style="padding: 1em;" /></div>
	            <br>
	            <div class="homepage SV data">
	                <p> Nombre : {{of.nombre}}</p>
	                <p> Presupuesto: {{of.presupuesto}}</p>
	                <p> Precio Ticket: {{of.ticket_price}}</p>
	                <p> Propietario: {{of.propietario}}</p>
	            </div>
	            <div class="details" ><a href='#/events/{{of.id_event}}'>Ver más</a></div>
	            <hr>
		    </div>
		</div>
	</div>
	<div data-ng-show='loading'>Loading</div>
	<div style="height:250px"></div>
</div>