<div class="modal-header" ng-controller="menuCtrl">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()" data-dismiss="modal">&times;</button>

    <div class="signin-form profile">
        <h3 class="agileinfo_sign" ng-click="f_password = false ; register = false ; f_login = true">Sign In</h3>
        <div class="login-form" ng-show="f_login">
           <form name="login_form">
                <div class="control-group">
                    <input required type="text" name="user" ng-model="form.user" placeholder="Usuario" 
                    class="input-block-level" maxlength="100">
                    <span class="error_message" ng-show="login_form.user.$dirty || login_form.user.$touched">
                        <span class="error_message" ng-show="valUser()"> Username doesn't exist</span> 
                    </span>
                </div>
                <div class="control-group">
                     <input required type="password" id="pass" name="pass" ng-model="form.pass" placeholder="Contraseña" class="input-block-level" maxlength="100">
                     <span class='error' ng-show="err_password"> {{errorpass}}</span>
                     <span class='error' ng-show="err_login">{{error.login}}</span>
                </div>
                <input type="submit" name="submitLog" id="submitLog" ng-click="login()" ng-show="login_form.user.$valid && login_form.pass.$valid" value="Sign In" />
            </form>
        </div>
        <div class="login-social-grids">
            <button ng-click="loginFb()" class="login button facebook" ><ng-md-icon icon="facebook" size="42"/></button>
            <button ng-click="loginTw()" class="login button twitter" ><ng-md-icon icon="twitter" size="42"/></button>
        </div>
        <p><a ng-click="f_password = false ; register = true ; f_login = false" id="linkReg"> Don't have an account?</a></p>
        <div ng-show="register" ng-controller="signupCtrl">
            <form name="signup_form">
                <div class="control-group">
                    <input required name ="inputUsername"   placeholder ="Set Username"    ng-model="signup.inputUsername"/>
                    <span ng-show="signup_form.inputUsername.$dirty || signup_form.inputUsername.$touched">
                        <span ng-show="signup_form.inputUsername.$error.required">Must set a username</span>
                        <span ng-show="!valSUser()">Username is taken</span>
                    </span>
                </div>
                <div class="control-group">
                    <input required name ="inputEmail"      placeholder ="Set Email"       ng-model="signup.inputEmail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"/>
                    <span ng-show="signup_form.inputEmail.$error.required && (signup_form.inputEmail.$dirty || signup_form.inputEmail.$touched)">Must set a Email</span>
                    <span class="red-text" ng-show="signup_form.inputEmail.$error.pattern">Invalid Email</span>
                </div>
                <div class="control-group">
                    <input required name ="inputPassword"   placeholder ="Set Password"    ng-model="signup.inputPassword"  minlength="3" type="password"/>
                    <span ng-show="signup_form.inputPassword.$error.required && (signup_form.inputPassword.$dirty || signup_form.inputPassword.$touched)">Must set a password</span>
                </div>
                <div class="control-group">
                    <input required name ="inputRPassword" placeholder ="Repeat Password" ng-model="signup.inputRPassword" minlength="3" type="password"/>
                    <span ng-show="signup.inputPassword != signup.inputRPassword && !(signup_form.inputPassword.$error.required && (signup_form.inputPassword.$dirty || signup_form.inputPassword.$touched)) && signup_form.inputRPassword.$touched">Password must match</span>
                </div>
                <input type ="submit" name="registerUser" ng-click="registerUser()" ng-show="signup_form.inputUsername.$valid && signup_form.inputEmail.$valid && signup_form.inputPassword.$valid && signup_form.inputRPassword.$valid && signup.inputPassword == signup.inputRPassword" value="Register" />
            </form>
        </div>
        <p><a ng-click="f_password = true ; register = false ; f_login = false" id="linkRest">You forget your password?</a></p>
        <div ng-show="f_password" ng-controller="changepassCtrl">
            <form>
                <input name="email" placeholder="Request email"/>
            </form>            
        </div>
    </div>
</div>