<script type="text/javascript" src="<?php echo JS_USERS?>load_perfil.js"></script>
<div>
	<span id="name"></span>
	<span id="surname"></span>
	<span id="email"></span>
	<img id="photo" src="/Project_Events-Angular/media/default-avatar.png"/>
</div>