<div style="color: white">
	<img ng-if="avatar" src="{{avatar}}">
	<img ng-if="!avatar" src="backend/media/default-avatar.png">
	<h2>Who are you ? =D</h2><h1>I'm {{nombre}}</h1>
	<h3 ng-if="user.method">I'm using {{user.method}}</h3>
	<h3 ng-if="user.email">Email : {{user.email}}</h3>
	<hr/>
	<br/>
</div>
<div ng-show="user.method != 'twitter' && user.method != 'facebook' ">
	<div ng-show="UForm">
		<form name="update_form" id="update_form">
			<p style="color: white">You can modify this parametters of this account</p>
			Nombre : <input type="text" ng-model="update.name" name="nombre" ng-value="nombre"><br/>
			Password : <input type="password" ng-model="update.password" ng-show="user.password" name="password" ng-value="user.password"><br/>
			<input type="password" ng-model="Rpassword" name="Rpassword" ng-show="user.password && update_form.password.$touched" placeholder="repeat password">
			<span ng-if="update_form.Rpassword.$dirty && update.password != Rpassword">Deben ser la misma contraseña</span>
			Name : <input type="text" ng-model="update.name" ng-show="user.name" name="name" ng-value="user.name"><br/>
			Phone : <input type="text" ng-model="update.phone" ng-show="user.phone" name="phone" ng-value="user.phone"><br/>
			Surname : <input type="text" ng-model="update.surname" ng-show="user.surname" name="surname" ng-value="user.surname"><br/>
			<hr/><input type="button" name="update" value="update" ng-click="update_user()" ng-if="!update_form.password.$touched || update.password == Rpassword"><hr/>
		</form>
	</div>
	<input ng-show="!UForm" type="button" name="modify" value="MODIFY USER" ng-click="UForm = !UForm">
	<input ng-show="UForm" type="button" name="modify" value="GO BACK" ng-click="UForm = !UForm">
	<div ng-if="ratings">
		<h1>Your Event RATINGS</h1>
		<div ng-repeat="of in ratings">
				<h3>EVENT NAME : {{of.nombre}}</h3>
				<img src="{{of.img_event}}" width="25px">
			<hr>
		</div>
	</div>
</div>