<!-- Header -->
<div ng-controller="menuCtrl">

     <!-- alertbanner -->
    <div id="alertbanner" ng-show="bannerV"><a  ng-class='bannerClass'>{{bannerText}}</a></div>

    <header id="header">
        <div class="agileits_w3layouts_banner_nav">
          <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              <h1><a class="navbar-brand" href="#/"><i class="fa fa-crosshairs" aria-hidden="true"></i> Event Planner</a></h1>

            </div>
            <ul class="agile_forms">
              <li id="LogProf">
                    <a id="acceder" ng-show="accederV" href="" class="button special" ng-click="open()" >Login</a>
                    <a id='profile' ng-show="profileV" href='#/user/profile'>
                      <img ng-if="avatar" ng-show="profileV" id='menuImg' class='icon rounded' src='{{avatar}}'/>
                      <img ng-if="!avatar" src="backend/media/default-avatar.png" style="width: 45px" />
                    {{nombre}}
                    </a>
                </li>

                <li><a id='logout' ng-show="logoutV" ng-click='logout()' >Log Out</a></li>
            </ul>
            <select type="text" class="form-control" ng-change="changeAcc(accs)" ng-model="accs" name="account" ng-show="accountsV" ng-options="item.name for item in accountsR " placeholder="Account" id="account">
              <option value="">Select Account</option>
            </select>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
              <nav>
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#/" class="hvr-underline-from-center">Home</a></li>
                  <li><a href="#/contact" class="hvr-underline-from-center">Contact</a></li>
                  <li><a href="#/events/list" class="hvr-underline-from-center">Events</a></li>
                  <li ng-show="creatorV"><a href="#/events/create" class="hvr-underline-from-center">Create Event</a></li>
                </ul>
              </nav>
            </div>
          </nav>
          <div class="clearfix"> </div>
        </div>
    </header>
</div>
