.modal-header.ng-scope {
	  border-radius: 2px;
	  display: inline-block;
	  height: 300px;
	  margin: 1rem;
	  position: relative;
	  width: 300px;
}
.modal-header.ng-scope {
    background: #fff;
	margin-left: 25%;
}